## Auto-MPG

![](https://factsanddetails.com/media/2/20111201-Molycorp%20REs-hev.png)

###The data is technical spec of cars, aiming to predict city fuel consumption
### (mile-per-gallon: MPG).

The features consist of
*   cylinders
*   displacement
*   horsepower
*   weight
*   acceleration
*   model year
*   original
*   car name

The output
mpg mile-per-gallon

[source] https://gist.githubusercontent.com/omarish/5687264/raw/7e5c814ce6ef33e25d5259c1fe79463c190800d9/mpg.csv

## ข้อ 1

In [75]:
import pandas as ps
df=ps.read_csv('Auto-MPG.csv')

## ข้อ 2

In [ ]:
for i in range (398):
    if(df.at[i,'horsepower']=='?'):
        df[i]=df['horsepower'].mode()

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (2104624426.py, line 3)

## ข้อ 3

In [77]:
temp=df['name']
for i in range(398):
    temp2=temp[i].split()
    df.at[i, 'name']=temp2[0]
df['name']=df['name'].replace({'chevy': 'chevrolet', 'vw': 'volkswagen'})
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet
1,15.0,8,350.0,165,3693,11.5,70,1,buick
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth
3,16.0,8,304.0,150,3433,12.0,70,1,amc
4,17.0,8,302.0,140,3449,10.5,70,1,ford
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford
394,44.0,4,97.0,52,2130,24.6,82,2,volkswagen
395,32.0,4,135.0,84,2295,11.6,82,1,dodge
396,28.0,4,120.0,79,2625,18.6,82,1,ford
397,31.0,4,119.0,82,2720,19.4,82,1,chevrolet

In [78]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['name']=label_encoder.fit_transform(df['name'])
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,7
1,15.0,8,350.0,165,3693,11.5,70,1,3
2,18.0,8,318.0,150,3436,11.0,70,1,24
3,16.0,8,304.0,150,3433,12.0,70,1,0
4,17.0,8,302.0,140,3449,10.5,70,1,12
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,12
394,44.0,4,97.0,52,2130,24.6,82,2,33
395,32.0,4,135.0,84,2295,11.6,82,1,10
396,28.0,4,120.0,79,2625,18.6,82,1,12
397,31.0,4,119.0,82,2720,19.4,82,1,7

## ข้อ 4

In [ ]:
df.dtypes

In [81]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(-1,1))
scaled_data = scaler.fit_transform(df)
df

ValueError: could not convert string to float: '?'

## ข้อ 5

## ข้อ 6

## ข้อ 7
### อับโหลดข้อมูลจ 'transactions.csv' จาก google classroom

## ข้อ 8

## ข้อ 9

## ข้อ 10

## ข้อ 11

## ข้อ 12

## ข้อ 13